.perfil {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px 20px;
    max-width: 700px;
    width: 100%;
}

.perfil-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #d6249f; /* Borde tipo historia de Instagram */
    padding: 2px;
    margin-right: 15px;
}

.perfil-info {
    flex-grow: 1;
    display: flex;
    max-width: 50%;
}

.perfil-nom h2 {
    font-size: 17px;
    display: flex;
    align-items: center;
    margin: 0;
}

.perfil-nom p {
    margin: 2px 0;
    color: gray;
}

.verificado {
    width: 16px;
    border-radius: 50%;
}

.estats {
    display: flex;
    gap: 15px;
    width: 40%;
}

.cant{
    font-size: 18px;
    font-weight: bold;
}

.divper{
    font-size: 13px;
    color: gray;
}

.boton-seg {
    background-color: #0095f6;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.boton-seg i {
    margin-right: 5px;
}

/*GALERIA ------------------------*/
.contenedor-galeria {
    position: relative;
    width: 100%;
    max-width: 100%; /* Ajusta según el diseño */
    margin: auto;
    overflow: hidden;
}

.carrusel {
    display: none; /* Ocultar los carruseles por defecto */
}

.carrusel.activo {
    display: block; /* Mostrar solo el carrusel activo */
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
}

.publicacion {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.publicacion img:hover{
    filter: brightness(50%);
}
.publicacion img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

/* Botones del carrusel */
.btn-anterior,
.btn-siguiente {
    position: absolute;
    top: 33%; /* Entre la primera y segunda fila */
    transform: translateY(220%);
    background-color: rgba(0, 0, 0, 0.568);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.btn-anterior { left: 0px; }
.btn-siguiente { right: 0px; }

.btn-anterior:hover,
.btn-siguiente:hover {
    background-color: rgba(0, 0, 0, 0.847);
}
