.perfil {
    display: flex;
    align-items: center;
    background: white;
    padding: 15px 20px;
    max-width: 700px;
    width: 100%;
}

.perfil-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid #d6249f; /* Borde tipo historia de Instagram */
    padding: 2px;
    margin-right: 15px;
}

.perfil-info {
    flex-grow: 1;
    display: flex;
    max-width: 50%;
}

.perfil-nom h2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin: 0;
}
.perfil-nom h2 a:hover{
    text-decoration: underline;
    color: black;
}

.perfil-nom p a{
    text-decoration: none;
    margin: 2px 0;
    color: gray;
}

.perfil-nom p a:hover{
    text-decoration: underline;
    color: gray;
}

.verificado {
    width: 16px;
    border-radius: 50%;
}

.estats {
    display: flex;
    gap: 15px;
    width: 40%;
}

.cant{
    font-size: 18px;
    font-weight: bold;
}

.divper{
    font-size: 13px;
    color: gray;
}

.boton-seg {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.boton-seg:hover{
    background-color: #34b5ff;
}
.boton-seg i {
    margin-right: 5px;
}

/*GALERIA ------------------------*/
.contenedor-galeria {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carrusel {
    display: none; /* Ocultar carruseles por defecto */
}

.carrusel.activo {
    display: block; /* Solo se muestra el carrusel activo */
}

.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
}

.publicacion {
    position: relative;
    width: 100%;
    height: 450px;
    overflow: hidden;
    cursor: pointer;
}

.publicacion img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

/* Efecto de oscurecer imagen */
.publicacion:hover img {
    filter: brightness(50%);
}

/* Capa de superposición con texto */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.666);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.meta-info {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 23px;
    margin-bottom: 10px;
}

.meta-info span {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Mostrar la capa al pasar el mouse */
.publicacion:hover .overlay {
    opacity: 1;
}

/* Botones de navegación */
.btn-anterior,
.btn-siguiente {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

.btn-anterior { left: -10px; }
.btn-siguiente { right: -10px; }

.btn-anterior:hover,
.btn-siguiente:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/*MODAL-----------------*/

/* Estilos para el modal */
.modal {
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: flex-start;
}
.modal-content {
    background-color: white;
    border-radius: 5px;
    width: 80%;
    max-width: 700px;
    position: relative;
}
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.instagram-media {
    width: 100% !important;
}